{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seomaticSiteMeta = seomaticSiteMeta|merge({
  'title': siteName,
  'siteSeoTitlePlacement': ''
}) %}

{% block content %}
  {% include '_components/hero' %}
  <div class="c-main-content">
    {% include '_components/about' %}
    {% include '_components/accordion-content' %}
    {% include '_components/contact' %}
    {% include '_components/footer' %}
  </div>
{% endblock %}
