{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seomaticSiteMeta = seomaticSiteMeta|merge({
  'title': siteName,
  'siteSeoTitlePlacement': ''
}) %}

{% block content %}
  <div class="o-wrapper  u-constrain">
    <h1 class="o-heading">S P A C E&nbsp;&nbsp;A F R I K A</h1>
    <!-- <i class="btb bt-angle-right"></i> -->

    <ul>
      <li>Work</li>
      <li>Recent</li>
      <li>Future</li>
      <li>About</li>
      <li>Contact / Enquiries</li>
    </ul>

    SoundCloud / Instagram / Facebook

    {% include '_components/button' %}

    <!-- <div class="js-carousel">
      {% for i in 0..10 %}
      <div class="js-carousel-slide">
        <img src="/images/placeholder-4-3.jpg" />
      </div>
      {% endfor %}

      <div class="c-carousel__controller">
        <div class="c-carousel__prev  js-carousel-prev">
          <i class="btr bt-angle-left"></i>
        </div>
        <div class="c-carousel__next  js-carousel-next">
          <i class="btr bt-angle-right"></i>
        </div>
      </div>
    </div> -->

  </div>

{% endblock %}
