{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seomaticSiteMeta = seomaticSiteMeta|merge({
  'title': siteName,
  'siteSeoTitlePlacement': ''
}) %}

{% block content %}
  <div class="c-hero">
    {% include '_components/fixed-bg-image' %}

    <header class="c-header">
      <div class="o-wrapper  o-wrapper--huge">
        <h1 class="o-heading  o-heading--large  c-header__logo">{{ siteName }}</h1>
      </div>
    </header>
  </div>

  <div class="c-main-content">
    {% include '_components/about' %}
    {% include '_components/accordion-content' %}
    {% include '_components/contact' %}
    {% include '_components/footer' %}
  </div>
{% endblock %}
