{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seomaticSiteMeta = seomaticSiteMeta|merge({
  'title': siteName,
  'siteSeoTitlePlacement': ''
}) %}

{% block content %}

  {% include '_components/about' %}

    <ul class="o-list-bare  c-accordion-nav">
      <li class="c-accordion-nav__item  js-accordion-nav-item">
        <div class="o-wrapper  o-wrapper--huge  c-accordion-nav__spacer">
          <div class="c-accordion-nav__underline"></div>
        </div>
        <div class="o-wrapper  o-wrapper--huge">
          <div class="c-accordion-nav__clickable-area  js-accordion-nav-opener  u-flex  u-flex--space-between">
            <h2 class="o-heading  c-accordion-nav__heading  u-margin-bottom-none">Work</h2>
            <div class="c-accordion-nav__status">
              <span class="c-accordion-nav__plus"></span>
            </div>
          </div>
        </div>

        <div class="c-accordion-nav__content  c-carousel">
          <div class="o-layout  o-layout--flush  c-accordion-nav__layout  c-carousel__slide" style="background-image: url(/images/photos/IMG_6241_670.jpg);">
            <div class="o-layout__item  u-1/2@tablet"></div>
            <div class="o-layout__item  c-accordion-nav__layout-item  u-1/2@tablet">
              <div class="c-accordion-nav__details">
                <h1 class="o-heading">Heading</h1>
                <div class="o-copy">
                  <p>
                    With two EP's on Where To Now?, releases on NOORDEN & sister label LL.M, and the mysterious VA Soundscape Versions, Joshua Reid and Joshua Inyang, aka Space Afrika have crafted a conceptual framemork operating in and around the world of ambient, experimental and dub techno. Their productions employing a drifting balance of scorched soundscapes, field recordings and rolling dubbed out dread have led to what can breifly be described as a soundscape driven, textural commidity. One that is growing ever potent alongside their developing catalogue of music.<br />
            <br />
                    Inspired by the industrial architecture in the North West, more specifically Manchester, the pair who dabble in the world of electronics and have built a fully analogue set up (which over the past year and a half they have taken across Europe) are flexible to cater for the club or cafeteria. <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="c-accordion-nav__item  js-accordion-nav-item">
        <div class="o-wrapper  o-wrapper--huge  c-accordion-nav__spacer">
          <div class="c-accordion-nav__underline"></div>
        </div>
        <div class="o-wrapper  o-wrapper--huge">
          <div class="c-accordion-nav__clickable-area  js-accordion-nav-opener">
            <h2 class="o-heading  c-accordion-nav__heading  u-margin-bottom-none">Recent</h2>
          </div>
        </div>

        <div class="c-accordion-nav__content">
          <div class="o-wrapper  o-wrapper--huge">
            <div class="o-copy  c-accordion-nav__copy">
              <p>
                With two EP's on Where To Now?, releases on NOORDEN & sister label LL.M, and the mysterious VA Soundscape Versions, Joshua Reid and Joshua Inyang, aka Space Afrika have crafted a conceptual framemork operating in and around the world of ambient, experimental and dub techno. Their productions employing a drifting balance of scorched soundscapes, field recordings and rolling dubbed out dread have led to what can breifly be described as a soundscape driven, textural commidity. One that is growing ever potent alongside their developing catalogue of music.<br />
        <br />
                Inspired by the industrial architecture in the North West, more specifically Manchester, the pair who dabble in the world of electronics and have built a fully analogue set up (which over the past year and a half they have taken across Europe) are flexible to cater for the club or cafeteria. <br />
        <br />
                More recently they have progressed to become residents of NTS Radio, displaying a broad and imaginative approach in collating music, and creating a haven for the unusual, left of field, and otherly body controlling sounds. <br />
        <br />
                They also host a show on Manchester's Reform Radio fortnightly, taking the reigns on Ruf Dug's 'The Dream Sequence'. Doing so, they have used the opportunity to not only share their weird and wonderful taste for provocative music, but to exhibit and collaborate with other local DJ's and artists.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="c-accordion-nav__item  js-accordion-nav-item">
        <div class="o-wrapper  o-wrapper--huge  c-accordion-nav__spacer">
          <div class="c-accordion-nav__underline"></div>
        </div>
        <div class="o-wrapper  o-wrapper--huge">
          <div class="c-accordion-nav__clickable-area  js-accordion-nav-opener">
            <h2 class="o-heading  c-accordion-nav__heading  u-margin-bottom-none">Future</h2>
          </div>
        </div>

        <div class="c-accordion-nav__content">
          <div class="o-wrapper  o-wrapper--huge">
            <div class="o-copy  c-accordion-nav__copy">
              <p>
                With two EP's on Where To Now?, releases on NOORDEN & sister label LL.M, and the mysterious VA Soundscape Versions, Joshua Reid and Joshua Inyang, aka Space Afrika have crafted a conceptual framemork operating in and around the world of ambient, experimental and dub techno. Their productions employing a drifting balance of scorched soundscapes, field recordings and rolling dubbed out dread have led to what can breifly be described as a soundscape driven, textural commidity. One that is growing ever potent alongside their developing catalogue of music.<br />
        <br />
                Inspired by the industrial architecture in the North West, more specifically Manchester, the pair who dabble in the world of electronics and have built a fully analogue set up (which over the past year and a half they have taken across Europe) are flexible to cater for the club or cafeteria. <br />
        <br />
                More recently they have progressed to become residents of NTS Radio, displaying a broad and imaginative approach in collating music, and creating a haven for the unusual, left of field, and otherly body controlling sounds. <br />
        <br />
                They also host a show on Manchester's Reform Radio fortnightly, taking the reigns on Ruf Dug's 'The Dream Sequence'. Doing so, they have used the opportunity to not only share their weird and wonderful taste for provocative music, but to exhibit and collaborate with other local DJ's and artists.
              </p>
            </div>
          </div>
        </div>
      </li>

    </ul>


    <!-- <div class="js-carousel">
      {% for i in 0..10 %}
      <div class="js-carousel-slide">
        <img src="/images/placeholder-4-3.jpg" />
      </div>
      {% endfor %}

      <div class="c-carousel__controller">
        <div class="c-carousel__prev  js-carousel-prev">
          <i class="btr bt-angle-left"></i>
        </div>
        <div class="c-carousel__next  js-carousel-next">
          <i class="btr bt-angle-right"></i>
        </div>
      </div>
    </div> -->


  {% include '_components/contact' %}

  {% include '_components/footer' %}
{% endblock %}
