<div class="c-about">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="c-about__body  js-about-body">
      <div class="o-copy  js-about-copy">{{ entry.about }}</div>
      <div class="c-about__gradient"></div>
    </div>

    {% include '_components/social' %}

    <div class="c-button  c-about__button  u-flex  js-about-copy-opener">
      <div class="c-button__button">
        <span class="c-button__text">Read more</span>
      </div>
    </div>
  </div>

  <!-- {% include '_components/social' %} -->
</div>
