<div class="c-about">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="c-about__body  js-about-body">
      <div class="o-copy  js-about-copy">
        <p>
          With two EP's on Where To Now?, releases on NOORDEN & sister label LL.M, and the mysterious VA Soundscape Versions, Joshua Reid and Joshua Inyang, aka Space Afrika have crafted a conceptual framemork operating in and around the world of ambient, experimental and dub techno. Their productions employing a drifting balance of scorched soundscapes, field recordings and rolling dubbed out dread have led to what can breifly be described as a soundscape driven, textural commidity. One that is growing ever potent alongside their developing catalogue of music.
          <br />
      <br />
          Inspired by the industrial architecture in the North West, more specifically Manchester, the pair who dabble in the world of electronics and have built a fully analogue set up (which over the past year and a half they have taken across Europe) are flexible to cater for the club or cafeteria. <br />
      <br />
          More recently they have progressed to become residents of NTS Radio, displaying a broad and imaginative approach in collating music, and creating a haven for the unusual, left of field, and otherly body controlling sounds. <br />
      <br />
          They also host a show on Manchester's Reform Radio fortnightly, taking the reigns on Ruf Dug's 'The Dream Sequence'. Doing so, they have used the opportunity to not only share their weird and wonderful taste for provocative music, but to exhibit and collaborate with other local DJ's and artists.
        </p>
      </div>
      <div class="c-about__gradient"></div>
    </div>

    {% include '_components/social' %}

    <div class="c-button  c-about__button  u-flex  js-about-copy-opener">
      <div class="c-button__button">
        <span class="c-button__text">Read more</span>
      </div>
    </div>
  </div>

  <!-- {% include '_components/social' %} -->
</div>
