{% if entry.backgroundMusicFile | length %}
<audio class="c-bg-music  js-bg-music" loop>
  <source src="{{ entry.backgroundMusicFile.first().getUrl() }}" type="audio/mpeg">
  <div class="o-copy">
    <p>Your browser does not support HTML5 audio, but you can still</p>
  </div>
</audio>

<div class="c-bg-music-control  js-bg-music-control">
  <div class="c-bg-music-control__bars">
    {% for i in 0..3 %}
    <span class="c-bg-music-control__bar"></span>
    {% endfor %}
  </div>
</div>
{% endif %}
