<audio class="c-bg-music  js-bg-music" autoplay loop>
  <source src="audio/ambient.mp3" type="audio/mpeg">
  <div class="o-copy">
    <p>Your browser does not support HTML5 audio, but you can still</p>
  </div>
</audio>

<div class="c-bg-music-controller  js-toggle-bg-music">
  <span></span>
</div>
