<section class="c-contact">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="o-layout  o-layout--middle  o-layout--large">
      <div class="o-layout__item  u-1/2@tablet  u-1/2@desktop">
        <img src="/images/photos/CNV00011_670.jpg" class="c-contact__image" />
      </div>
      <div class="o-layout__item  u-1/2@tablet  u-1/2@desktop">
        <div class="c-contact__item">
          <h2 class="o-heading  c-contact__heading">Contact / Enquiry</h2>
          <div class="o-copy  o-copy--small  u-color-grey">
            <p>
              We really appreciate all the messages we receive.<br />
              Drop us a line from here.
            </p>
          </div>
        </div>
        <div class="c-contact__item">
          <h2 class="o-heading  c-contact__heading">&#45; Direct</h2>
          <div class="o-copy  o-copy--small  u-color-grey">
            <p>
              <a href="mailto:space_afrika@live.co.uk">space_afrika@live.co.uk</a>
            </p>
          </div>
        </div>
        <div class="c-contact__item">
          <h2 class="o-heading  c-contact__heading">&#45; Booking</h2>
          <div class="o-copy  o-copy--small  u-color-grey">
            <p>
              <a href="mailto:info@unpopularculturemcr.com">info@unpopularculturemcr.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
