<footer class="c-footer">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="c-footer__content">
      <div class="c-footer__credit">
        <span class="c-footer__text">Credit</span>
        <div class="c-footer__link">
          <span>Website by </span>
          <a href="http://sekkithub.com" target="_blank">Masato Seki</a>
        </div>
      </div>
    </div>
  </div>
</footer>
