<footer class="c-footer">
  <div class="o-wrapper  o-wrapper--huge">
    <div class="c-footer__content">
      <div class="c-footer__text">
        <span>Credit</span>
        <!-- <span>
          <a href="http://sekkithub.com" target="_blank">Masato Seki</a>
        </span> -->
      </div>
    </div>
  </div>
</footer>
