<li class="c-accordion-nav__item  js-accordion-nav-item">
  {% include '_components/accordion-head' with { heading: 'Future / Current' } %}

  <div class="c-accordion-nav__content  js-accordion-nav-content">
    <div class="o-wrapper  o-wrapper--huge">
      <div class="js-carousel">
        <div class="js-carousel-slide"{% if entry.backdropImage | length %} style="background-image: url({{ entry.backdropImage.first().getUrl() }});"{% endif %}>
          <div class="c-future-current  js-accordion-nav-details">
            {% for entry in craft.entries.section('futureCurrent') %}
              <div class="c-future-current__item  u-constrain--tiny">
                <h1 class="o-heading  o-heading--bold">{{ entry.title }}</h1>
                <div class="o-copy">{{ entry.body }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
