<header class="c-header">
  <div class="o-wrapper  o-wrapper--huge">
    <h1 class="o-heading  c-header__logo">S p a c e&nbsp;&nbsp;A f r i k a</h1>
    <!-- <h1 class="o-heading  c-header__logo">Space Afrika</h1> -->
  </div>
</header>
