<div class="c-hero">
  {% include '_components/fixed-bg-image' %}

  <header class="c-header">
    <div class="o-wrapper  o-wrapper--huge">
      <h1 class="o-heading  o-heading--large  c-header__logo">{{ siteName }}</h1>
    </div>
  </header>
</div>
