<div class="c-slideshow  js-slideshow">
  {% for block in entry.visuals %}
    {% for asset in block.assets %}
    <div class="c-slideshow__slide  js-slideshow-slide" style="background-image: url('{{ asset.getUrl('slideshowImage') }}');"></div>
    {% endfor %}
  {% endfor %}

  <div class="c-slideshow__close  js-slideshow-close">
    <img src="/images/close.svg" class="c-slideshow__close-image" />
  </div>
  <div class="c-slideshow__control  c-slideshow__prev  js-slideshow-prev"></div>
  <div class="c-slideshow__control  c-slideshow__next  js-slideshow-next"></div>
</div>
