<div class="c-social">
  <a href="https://www.facebook.com/spaceafrikamcr/?ref=br_rs" target="_blank" class="c-social__link">
    <i class="fab  fab-facebook"></i>
  </a>
  <a href="https://soundcloud.com/space-afrika" target="_blank" class="c-social__link">
    <i class="fab  fab-soundcloud"></i>
  </a>
  <a href="https://www.residentadvisor.net/dj/spaceafrika" target="_blank" class="c-social__link">
    <img src="/images/ra.svg" width="20" class="c-social__image" />
  </a>
</div>
