/* =======================
   Components/Header
   ======================= */
.c-header {
  padding-top: $unit-large;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  @include mq($from: tablet) {
    padding-top: $unit-large * 1.5;
  }

  @include mq($from: desktop) {
    padding-top: $unit-huge;
    position: fixed;
  }
}

  .c-header__logo {
    letter-spacing: 0.3em;
    margin-bottom: 0;
    text-align: right;
  }
