/* =======================
   Components/Carousel
   ======================= */
.c-carousel {
  min-height: 0;
  transition: all 4s;
}

  .c-carousel__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 41px;
    position: relative;
  }

    .c-carousel__pagination {
      background-color: color(black);
      position: absolute;
      border: 1px solid color(white);
      padding: 0 $unit-small * 1.5;
      right: $unit;
      text-align: center;
      top: 64px;
      min-width: 68px;
      z-index: 100;
      @include font-size(14px, 1.6);

      @include mq($from: tablet) {
        right: $unit-large + 2;
      }
    }

    .c-carousel__item {
      margin: 0;
    }

  .c-carousel__asset {
    @include mq($from: desktop) {
      padding: $unit-large;
    }
  }

    .c-carousel__asset img {
      width: 100%;
      margin: 0 auto;

      @include mq($from: tablet) {
        width: auto;
      }

      @include mq($from: desktop) {
        max-height: 40vw;
      }
    }

  .c-carousel__controller {
    border-bottom: 1px solid color(white);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .c-carousel__prev,
  .c-carousel__next {
    background-color: color(black);
    cursor: pointer;
    height: 100%;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
    width: 100%;
    @include font-size(13px);

    &:hover {
      background-color: color(dark-grey);
    }
  }

  .c-carousel__prev {
    border-right: 1px solid color(white);
    left: 0;
  }

  .c-carousel__next {
    right: 0;
  }
