/* =======================
   Components/Buttons
   ======================= */
.c-button {
  margin-top: $unit;
  transition: all .2s;
  user-select: none;
}

  .c-button__button {
    background-color: color(dark-grey);
    border: 1px solid color(dark-grey);
    cursor: pointer;
    max-width: 100%;
    outline: none;
    padding: 2px 22px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .2s;

    @include mq($from: tablet) {
      max-width: 480px;
    }

    @include mq($from: desktop) {
      max-width: 100%;
      width: inherit;
    }

    &:hover {
      background-color: color(white);
    }

    &:hover .c-button__text {
      color: color(dark-grey);
    }
  }

    .c-button__text {
      color: color(white);
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      transition: all .2s;
      @include font-family(book);
      @include font-size(12px);
    }
