/* =======================
   Components/Carousel
   ======================= */
.c-carousel {
  min-height: 0;
  transition: all 4s;
}

  .c-carousel__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    user-select: none;
  }

    .c-carousel__pagination {
      position: absolute;
      border: 1px solid color(white);
      padding: 0 $unit-small * 1.5;
      right: $unit-large + 2;
      text-align: center;
      top: $unit;
      min-width: 68px;
      @include font-size(14px, 1.6);
    }

    .c-carousel__item {
      margin: 0;
    }

  .c-carousel__asset {
    padding: $unit-large * 1.5 $unit-large $unit-large;

    @include mq($from: desktop) {
      padding: $unit-large;
    }
  }

    .c-carousel__asset img {
      margin: 0 auto;
    }

  .c-carousel__prev,
  .c-carousel__next {
    cursor: pointer;
    height: 100%;
    padding: 0 $unit-small * 1.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
    width: auto;
    @include font-size(24px);

    &:hover {
      opacity: 0.5;
    }
  }

  .c-carousel__prev {
    left: 0;
  }

  .c-carousel__next {
    right: 0;
  }
