/* =======================
   Components/Accordion Nav
   ======================= */
.c-accordion-nav {

}

  .c-accordion-nav__item {
    position: relative;
  }

  .c-accordion-nav__item.active {
    .c-accordion-nav__spacer {
      padding: 0;
      transition: all .3s;
    }

      .c-accordion-nav__underline {
        border-bottom-color: transparent;
        transition-delay: .4s;
      }

    .c-accordion-nav__content {
      transition: all .6s .3s;
    }

    .c-accordion-nav__plus {
      transition: all .2s;

      &:before {
        top: 8px;
        transform: rotate(0deg);
      }

      &:after {
        right: 0;
      }
    }
  }

    .c-accordion-nav__spacer {
      bottom: 0;
      position: absolute;
      transition: all .3s .4s;
      width: 100%;
    }

    .c-accordion-nav__underline {
      border-bottom: 1px solid color(dark-grey);
      transition: all .2s;
    }

      .c-accordion-nav__clickable-area {
        cursor: pointer;
        padding-bottom: $unit-small;
        padding-top: $unit-small;
        text-transform: uppercase;

        &:hover .c-accordion-nav__heading {
          transform: translateX(10px);
        }
      }

        .c-accordion-nav__link {
          text-decoration: inherit;
        }

        .c-accordion-nav__heading {
          backface-visibility: hidden;
          display: inline-block;
          transition: transform .3s;
          transform: translateX(0);
        }

        .c-accordion-nav__content {
          background-color: color(dark-grey);
          color: color(white);
          height: 0;
          overflow: hidden;
          transition: all .4s;
        }

          .c-accordion-nav__layout,
          .c-accordion-nav__layout-item {
            height: 100%;
          }

          .c-accordion-nav__layout {
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
          }

          .c-accordion-nav__layout-item {
            background-color: rgba(0, 0, 0, 0.75);
          }

          .c-accordion-nav__details {
            min-height: 50vw;
            padding: $unit-large $unit;
            position: relative;
            user-select: text;

            @include mq($from: tablet) {
              padding: $unit-large * 1.5  $unit-large;
            }
          }

          .c-accordion-nav__future-current {
            padding: $unit-huge 0;
          }

        .c-accordion-nav__status {
          position: relative;
        }

          .c-accordion-nav__plus {
            &:before,
            &:after {
              content: '';
              width: 11px;
              height: 5px;
              border-bottom: 1px solid color(dark-grey);
              position: absolute;
              right: 0;
              top: 10px;
              transition: all .2s .2s;
            }

            &:before {
              transform: rotate(90deg);
              right: 0;
              top: 10px;
            }

            &:after {
              right: 2px;
              top: 8px;
              transition: all 0.5s;
            }
          }
