/* =======================
   Components/Preloader
   ======================= */
.c-preloader {
  // background-color: color(white);
  bottom: 0;
  left: 0;
  transition: $base-transition;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 100000;
}

body.isLoaded .c-preloader {
  opacity: 0;
  visibility: hidden;
}
