/* =======================
   Components/Modal
   ======================= */
.c-modal {
  background-color: rgba(0, 0, 0, 0.9);
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
    transition: all .2s ease-in-out;
  width: 100%;
  visibility: hidden;
  z-index: 100;
}

body.slideshow-active .c-modal {
  opacity: 1;
  visibility: visible;
}
