/* =======================
   Components/Visuals
   ======================= */
.c-visuals {
  padding-bottom: $unit-large;
  padding-top: $unit-large;
}

.foo {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hoge {
  display: inline-block;
  vertical-align: middle;
  max-width: 85%;
  border: 6px solid transparent;
}
