/* =======================
   Components/About
   ======================= */
.c-about {
  margin-bottom: $unit-large;
  max-width: 820px;

  @include mq($from: desktop) {
    margin-bottom: $unit-huge;
  }
}
