/* =======================
   Components/Visuals
   ======================= */
.c-visuals {
  padding-bottom: $unit-huge;
  padding-top: $unit-huge;
}

    .c-visuals__image {
      cursor: url(/images/plus.svg) 25 25, zoom-in;
      transition: all .2s;

      @include mq($from: tablet) {
        padding: $unit-small;
      }
    }

  #infscr-loading {
    bottom: $unit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
  }

  #infscr-loading img {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
