/* =======================
   Components/Footer
   ======================= */
.c-footer {
  background-color: color(white);
}

  .c-footer__content {
    border-top: 1px solid color(light-grey);
    padding-bottom: 10px;
    padding-top: $unit-small;

    @include mq($from: desktop) {
      &:hover .c-footer__text {
        transform: translateY(-100%);
      }

      &:hover .c-footer__link {
        transform: translateY(0);
      }
    }
  }

    .c-footer__credit {
      color: color(grey);
      display: inline-block;
      height: 15px;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include font-size(14px, 1);
    }

      .c-footer__text,
      .c-footer__link {
        display: inline-block;
        position: absolute;
        top: 0;
        transition: all .2s;
        left: 0;
      }

      .c-footer__text {
        transform: translateY(-100%);
        @include mq($from: desktop) {
          transform: translateY(0);
        }
      }

      .c-footer__link {
        transform: translateY(0);
        @include mq($from: desktop) {
          transform: translateY(100%);
        }
      }
