/* =======================
   Components/Container
   ======================= */
.c-container {
  background-color: color(white);
  min-height: 100%;
  padding-top: $unit-large;
  transition: all 1.4s cubic-bezier(.666, 0, .333, 1) .6s;

  @include mq($from: desktop) {
    padding-top: $unit-huge;
  }
}

body.isLoaded .c-container {
  transform: translateY(0);
}

body.home .c-container {
  transform: translateY(0);
  margin-top: 400px;
  @include mq($from: desktop) {
    transform: translateY(500px);
  }
}

body.visuals .c-container {
  background-color: #1a1a1a;
  // background-color: transparent;
}
