/* =======================
   Components/Container
   ======================= */
.c-container {
  @include mq($from: desktop) {
    margin-top: 500px;
    opacity: 0;
    transition: all .2s ease-in-out;
    visibility: hidden;
  }
}

body.isLoaded .c-container {
  opacity: 1;
  visibility: visible;
}

body.visuals .c-container {
  margin-top: 0;
}
