/* =======================
   Components/Visuals
   ======================= */
.c-visuals {
  // background-color: complement(black);
  padding-bottom: $unit-huge;
  padding-top: $unit-large;
}

    .c-visuals__image {
      padding: $unit-small;
    }


  #infscr-loading {
    bottom: $unit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
  }

  #infscr-loading img {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
