/* =======================
   Components/Soundcloud Player
   ======================= */
.c-soundcloud-player {
  height: 30px;
  margin-bottom: $unit;
  @include hide_last_margin;
}

  .c-soundcloud-player__play-button {
    cursor: pointer;
    display: inline-block;
    transition: all .2s;
    @include font-size(24px, 1);

    &:hover {
      opacity: 0.75;
    }
  }
