/* =======================
   Elements/Page
   ======================= */

html, body {
  height: 100%;
  @include font-family(book);
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-size: cover;
  overflow: hidden;

  @include mq($from: desktop) {
    background-attachment: fixed;
  }
}

body.isLoaded {
  overflow: inherit;
}

body.home {
  background: url(/images/01.jpg) no-repeat center center;
}

body {
  &:after {
    display: none;
    content: 'mobile';
  }

  @include mq($from: tablet) {
    &:after {
      content: 'tablet';
    }
  }

  @include mq($from: desktop) {
    &:after {
      content: 'desktop';
    }
  }

  @include mq($from: wide) {
    &:after {
      content: 'desktop';
    }
  }
}
