/* =======================
   Elements/Page
   ======================= */

html, body {
  @include font-family(book);
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: url(/images/01.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  &:after {
    display: none;
    content: 'mobile';
  }

  @include mq($from: tablet) {
    &:after {
      content: 'tablet';
    }
  }

  @include mq($from: desktop) {
    &:after {
      content: 'desktop';
    }
  }

  @include mq($from: wide) {
    &:after {
      content: 'desktop';
    }
  }
}
