/* =======================
   Elements/Sections
   ======================= */

section {
  margin-bottom: $unit-large;
  margin-top: $unit-large;
  position: relative;

  @include mq($from: desktop) {
    margin-bottom: $unit-huge;
    margin-top: $unit-huge;
  }
}
