/* =======================
   Objects/Fixed Bg Image
   ======================= */

.o-fixed-bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;

  @include mq($from: desktop) {
    height: 500px;
    position: fixed;
  }
}
