/* =======================
   Objects/Back to Home
   ======================= */

.o-back-to-home {
  left: 50%;
  position: fixed;
  top: 40px;
  transform: translateX(-50%);
}

  .o-back-to-home__link {
    text-decoration: none;
    transition: all .2s;
    @include font-size(24px);

    &:hover {
      opacity: 0.5;
    }
  }
