/* =======================
   Objects/Back to Home
   ======================= */

.o-back-to-home {
  left: 50%;
  position: fixed;
  text-transform: uppercase;
  top: 40px;
  transform: translateX(-50%);
}
