/* =======================
   Objects/Content Loader
   ======================= */

.o-content-loader {
  bottom: $unit-large;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .2s 1.2s;
  width: 60px;
}

body.isLoaded .o-content-loader {
  opacity: 0;
  visibility: hidden;
}

  .o-content-loader__image {
    animation: spin 1s linear infinite;
    width: 100%;
  }

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
