/* =======================
   Settings/Colors
   ======================= */

$colors: (
  white: #ffffff,
  black: #000000,
  dark-grey: #222222,
  grey: #999999,
  light-grey: #cccccc,
  green: #6BE393,
);

$base-text-color-dark: map-get($colors, 'black');
$base-text-color-light: map-get($colors, 'white');
