// SETTINGS
@import "../../node_modules/inuitcss/settings/settings.core";
@import "settings.colors";
@import "settings.transitions";
@import "settings.measurements";


// LIBRARIES
$bt-font-path: '/fonts/black-tie/fonts';
@import "libs/black-tie.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "libs/slick-custom.scss";
@import "../../node_modules/plyr/src/scss/plyr.scss";
@import "../../node_modules/smooth-scrollbar/dist/smooth-scrollbar.css";
@import "libs/soundcloud-player-custom.scss";


// TOOLS
@import "../../node_modules/inuitcss/tools/tools.font-size";
@import "tools.fonts";
@import "../../node_modules/inuitcss/tools/tools.clearfix";
@import "../../node_modules/inuitcss/tools/tools.hidden";
$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px,
  u-wide:  1600px
);
@import "../../node_modules/sass-mq/mq";
@import "tools.aliases";
@import "tools.mixins";
@import "tools.color";
@import "tools.button";


// GENERIC
@import "../../node_modules/inuitcss/generic/generic.box-sizing";
@import "../../node_modules/inuitcss/generic/generic.normalize";
@import "../../node_modules/inuitcss/generic/generic.reset";
@import "../../node_modules/inuitcss/generic/generic.shared";


// ELEMENTS
@import "../../node_modules/inuitcss/elements/elements.page";
@import "elements.page";
@import "../../node_modules/inuitcss/elements/elements.images";
@import "../../node_modules/inuitcss/elements/elements.tables";
@import "elements.links";
@import "elements.section";


// OBJECTS
@import "../../node_modules/inuitcss/objects/objects.wrapper";
@import "objects.wrapper";
@import "../../node_modules/inuitcss/objects/objects.layout";
@import "objects.layout";
@import "../../node_modules/inuitcss/objects/objects.media";
@import "../../node_modules/inuitcss/objects/objects.flag";
@import "../../node_modules/inuitcss/objects/objects.list-bare";
@import "../../node_modules/inuitcss/objects/objects.list-inline";
@import "../../node_modules/inuitcss/objects/objects.block";
@import "objects.heading";
@import "objects.copy";
@import "objects.permalink";


// COMPONENTS
@import "components.preloader";
@import "components.bg-music";
@import "components.header";
@import "components.container";
@import "components.button";
@import "components.social";
@import "components.about";
@import "components.accordion-nav";
@import "components.future-current";
@import "components.carousel";
@import "components.video";
@import "components.soundcloud-player";
@import "components.contact";
@import "components.footer";


// UTILITIES
@import "../../node_modules/inuitcss/utilities/utilities.clearfix";
@import "../../node_modules/inuitcss/utilities/utilities.widths";
@import "../../node_modules/inuitcss/utilities/utilities.spacings";
@import "../../node_modules/inuitcss/utilities/utilities.responsive-spacings";
@import "../../node_modules/inuitcss/utilities/utilities.print";
@import "../../node_modules/inuitcss/utilities/utilities.hide";
@import "utilities.hide-responsive";
@import "utilities.constrain";
@import "utilities.flex";
@import "utilities.colors";

@import "shame";
