{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <div id="{{ entry.slug }}" class="o-canvas"></div>

  <div class="c-visuals">
    <div class="o-wrapper">
      <div class="o-layout">
        {% for block in entry.visuals %}
          {% if block.type == "images" %}
            {% for asset in block.assets %}
              <div class="o-layout__item  u-1/3">
                <img src="{{ asset.url }}" />
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
