{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <div id="{{ entry.slug }}" class="o-canvas"></div>
  {% include '_components/back-to-home' %}

  <div class="c-visuals">
    <div class="o-wrapper">
      {% for block in entry.visuals.type('images') %}
        <div class="o-layout  o-layout--middle  c-visuals__content">
          {% for asset in block.assets %}
          <div class="o-layout__item  u-1/2@tablet  u-1/3@desktop  c-visuals__item  js-visuals-item">
            <img data-normal="{{ asset.getUrl('thumbnail') }}" class="c-visuals__image  js-thumbnail-image" />
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="c-modal  u-flex  u-flex--middle">
    {% include '_components/slideshow' %}
  </div>
{% endblock %}
