{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <!-- <div id="{{ entry.slug }}" class="o-canvas"></div> -->
  {% include '_components/back-to-home' %}

  <div class="c-visuals">
    <div class="o-wrapper">

      {% for block in entry.visuals %}
        <div class="o-layout  o-layout--middle  c-visuals__content">
          {% paginate block.assets.limit(6) as pageInfo, pageEntries %}
          {% for asset in pageEntries %}
          <div class="o-layout__item  u-1/2@tablet  u-1/3@desktop  c-visuals__item  js-visuals-item">
            <img src="{{ asset.url }}" class="c-visuals__image" />
          </div>
          {% endfor %}
          {{ pageInfo | infinitescroll(containerSelector=".c-visuals__content", itemSelector=".c-visuals__item", loadingImage="/images/loader-black.svg") }}
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
