{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <!-- <div id="{{ entry.slug }}" class="o-canvas"></div> -->

  <div class="c-visuals">
    <div class="o-wrapper">

        {% for block in entry.visuals %}
          {% if block.type == "images" %}
            {% set visuals = block.assets %}
            {% if visuals | length %}
              {% set groupedVisuals = visuals|batch(3) %}
              {% for thumbnails in groupedVisuals %}
                <div class="foo">
                  {% for asset in thumbnails %}
                  <img src="{{ asset.url }}" width="33%" style="padding: 25px;" />
                  {% endfor %}
                </div>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}

    </div>
  </div>
{% endblock %}
