{% minify %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% hook 'seomaticRender' %}
  <link rel="stylesheet" href="/styles/main.css" media="screen, projection"/>
</head>

{% set section = entry.section is defined and entry.section.handle is defined ? entry.section.handle : 'generic' %}
<body data-section="{{ section }}" class="{{ section }}">
  {% include '_components/bg-music' %}
  {% include '_components/preloader' %}
  {% include '_components/header' %}
  {% include '_components/content-loader' %}
  <div id="c-scrollbar" class="c-container  js-container" scrollbar  data-scrollbar>
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://widget.mixcloud.com/media/js/widgetApi.js" type="text/javascript"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>
{% endminify %}
